body{
    background-color: rgb(58, 140, 140);
    
}

#io_frame {
    background-color: rgb(70, 108, 154);
    
}

h5{
    color: #f9f9f9;
}

#table_frame {
    background-color: rgb(70, 108, 154);

}
.input-field label {
    pointer-events: auto;
}
a.btn.center {
    width: 100%;
}