body{
    background-color: rgb(147, 152, 104);
    
}

#io_frame {
    background-color: rgb(71, 101, 71);
    
}

h5{
    color: #f9f9f9;
}

#table_frame {
    background-color: rgb(70, 108, 154);

}
.input-field label {
    pointer-events: auto;
}
a.btn.center {
    width: 100%;
}